body {
    background-color:#f1f1e9;
    margin: auto;
    width: 1000px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hiperVinculo {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.hiperVinculo:hover {
    text-decoration: none;
    color: red;    
}

.carousel-inner h5{
    font-size: 30px;
    color: red;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    font-weight: bold;

}

.carousel-inner p {
    font-size: 20px;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.quienesSomos, .contacto{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.formulario {
    padding: 20px;
}

.btnSend {
    margin-bottom: 10px;
}

.formImput, .formImput:focus{
    background-color:#f1f1e9;
    
}
